<div class="jumbotron">
   <div class="container">
   <h1>Add your items to the ShareMyKloset catalog</h1>
   <h2>Take a picture of the item and write a detailed description</h2>
   </div>
</div>

<div class="center">
<div class="row">
  <% @listings.each do |listing| %>
   <div class="col-md-3">
   <div class="thumbnail panel panel-default">
       <%= link_to image_tag(listing.image.url), listing %>
      <div class="panel-body">
      <div class="caption">
        <h3><%= listing.name %></h3>
         <p><%= number_to_currency(listing.price) %></p>
         <p><%= "Sold by #{listing.user.name}" %></p>
         <p><%= listing.description %></p>
     </div>
     </div>
    </div>
   </div>
  <% end %>
</div>
</div>



 <% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>



